<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WEATHER</title>
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Josefin+Sans&family=Libre+Baskerville&family=Roboto+Mono:wght@100&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/5ff009cb89.js" crossorigin="anonymous"></script>
<link href="/your_path_to_version_6_files/css/fontawesome.css" rel="stylesheet">
    <link href="/your_path_to_version_6_files/css/brands.css" rel="stylesheet">
    <link href="/your_path_to_version_6_files/css/solid.css" rel="stylesheet">

    <!-- update existing v5 CSS to use v6 icons and assets -->
    <link href="/your-path-to-fontawesome/css/v5-font-face.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Libre+Baskerville&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>

<div class="d1">
<section class="S1">
  <div class="d2">
    <h1 class="finh1"> {{cityName}}  </h1>
<img class="i6"src="{{icons}}" alt="">
    <h3 class="finh2"> {{wa}}<span class="s4">°</span>C</h3>
    <h4 class="finh4"><i class="lni lni-arrow-right-circle"></i>The Weather in {{cityName}} is {{wedesc}}</h4>
<h4 class="finh4"><i class="lni lni-arrow-right-circle"></i>It feels like {{feels}} </h4>
<h4 class="finh4"><i class="lni lni-arrow-right-circle"></i>Humidity level is {{humi}} </h4>
<h4 class="finh4"><i class="lni lni-arrow-right-circle"></i>Minimum temp: {{mint}} </h4>
<h4 class="finh4"><i class="lni lni-arrow-right-circle"></i>Maximum temp: {{maxt}} </h4>

  </div>
  <div class="d3">
    <h1 class="we1">WeatherReport</h1>
    <br>

      <marquee class="p1">Powered by AG</marquee>
      <form action="/" method="post">


<input class="i1"type="text" name="cityco" value="">
<button class="b1" type="submit" name="button"> <i class="fab fa-brands fa-searchengin"></i></button>
</form>
<h2 class="mak">MADE BY AKSHIT GUPTA</h2>
  </div>
</section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" charset="utf-8"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script src="jsf.js" charset="utf-8"></script>
  </body>
</html>
